@import "_settings";
@import "_mixins";
@import "../javascripts/vendor/foundation/scss/foundation";


#input {
	margin-top: 20px;
}

#main {
	padding: rem-calc(14);

	ul {
		list-style-type: none;
	}

	#repoView {

	}

	#commitView {

	}
}



